*{
  font-family: Poppins;
}
  
  
  #d_with_the_top_elements {
  display: flex;
  position: fixed;
  top: 0px;
  background-color: white;
  z-index: 1;
}

#d_with_the_logo {
  margin-left: 20px;
}

a {
  margin-left: 10px;
  margin-right: 10px;
}

#d_with_the_anchors {
  margin-top: 15px;
}

#d_with_top_button {
  margin-top: 10px;
  margin-left: 15px;
}

#top_button {
  color: white;
  background-color: #B9770E;
  font-weight: bold;
  width: 120px;
  height: 30px;
  border-radius: 5px;
}

#d1{
  background-color: #FBFCFC;
  position: relative;
  top: -150px;
  height: 200px;
  padding: 30px;
}
